h5{
    text-align: right;
    font-weight: bolder;
    font-size: 20px;
}

h6{
    font-weight:bolder;
    margin-bottom: 10px;
    font-size: 16px;
    margin-top: 12px;
}

p{
    padding: 5px;
    margin: 2px;
    font-size: 10px;
}
strong{
    font-size: 25px;
}

span{
    font-size: 14px;
    width: auto;
    margin: 10px 0px 10px 0px;
    text-align: justify;
}

img{
    width: 170px;
    margin-top: 5px;
}

a{
    
    font-size: 15px;
    color: #ffffff;
    margin-left: 5px;
}

footer{
    text-align: center;
    background-color: #241a1a;
    font-size: 15px;
    padding: 10px;
    color: #e9e1e1;
    
}

.couleur{
    color: rgb(32, 124, 120);
    text-decoration: none;
}

.header{
    justify-content: center;
}

.ligne1{
    display: flex;
   justify-content: center;
   align-items: flex-start;
}

.marge-haut{
    margin-top: 15px;
}

.marge-droite{
    margin-right: 15px; 
}

.marge-bas{
    margin-bottom: 15px;
}

.marge-gauche{
    margin-left: 250px;

}

.ligne2{
    display: inline-flex;
    justify-content: flex-start;
    margin: 25px 0px 10px 0px;
    color: #a7a2a2;
}


.box{
    width: 400px;
    display: flex;
    border: 1px solid #a7a2a2;
    box-shadow: 1px 3px 17px -5px rgba(0,0,0,0.54); 
}

.hr-style{
    height: 1px;
    width: 250px;
    color: rgb(15, 14, 14);
    
}   

.italique{
    font-style: italic;
    font-size: 11px;
    color: rgb(39, 41, 207);
    margin-top: 6px;
    margin-left: 55px;
}

.lien-footer{
    text-decoration: none;
    font-size: 15px;
}